<div class="jumbotron">
	<h1> Post Data to this URL </h1>
	<p><%= @error_msg %><p>
	<p><%= @success_msg %><p>
	<%= link_to "Click here for root page", '/', class: "btn btn-large btn-primary" %>

</div>	
